@model ResetPasswordViewModel
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    <h2>Parola Yenileme Sayfası</h2>

    <form method="post">
        <label>Yeni Parolanızı Giriniz</label>
        <input type="password" class="form-control" name="Password" />
        <br />
        <label>Yeni Parolanızı Tekrar Giriniz</label>
        <input type="password" class="form-control" name="ConfirmPassword" />
        <br />
        <button class="btn btn-outline-info">Parolayı Güncelle</button>
    </form>

</div>


@* traversalnetproje@gmail.com *@